*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General sans";
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    /* position: relative; */
}
#page1{
 height: 100vh;
 width: 100%;
 /* position: absolute; */
 background-color: black;
 color: rgb(163,163,163);

}
#nav{
    margin: 35px 30px;
    display: flex;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    justify-content: space-between;
}
#heading{
    margin-top: 120px;
}

#heading h1{
    margin-left: 45px;
    line-height: 1;
    font-family: "General Sans";
    font-size: 10vw;
    font-weight: 900;
    opacity: 0.6;
}

#heading #blocktxt{
    width: fit-content;
    display: inline-block;
    text-align: right;
    margin-left: 20%;
}

 #heading #sechead{
    color: red;
    } 

#sectxt{
   padding-right: 2%; 
    margin-top: 100px;
    line-height: 2;
    font-size: 1.2vw;
    font-family: "General Sans Medium";
    text-align: right;
    font-weight: 700;
}

#page1footer{
    display: flex;
    justify-content: space-between;
    margin: 0 25px;  
}

#page1footer a{
    color: rgb(163,163,163);
    text-decoration: none;
    font-weight:bolder;
    padding: 0vw 2vw;
}
 #arrow{
    display: flex;
    font-size: 30px;
    margin-bottom: 0 ;
    /* margin-bottom: 100px; */
 }
 #page2{
    padding-top: 200px;
    height: 100vh;
    width: 100%;
    padding-right: 10vw;
    padding-left:2.5vw ;
    color: rgb(163,163,163);
    
 }
 .elem{
    width: 100%;
    position: relative;
    /* height: 30vh; */
    border-top:1.0px solid #777;
   padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .elem h1{
    font-size: 7.5vw;
    /* padding: 15px 5px; */
 }
 #elemlast{
    border-bottom:1.0px solid #777 ;
 }
 .elem h5{
    /* margin-top: 5%; */
    font-size: 15px;
    font-weight: 600;
 }
 .elem img{
    position: absolute;
    height: 140%;
    z-index: 99;
    display: none;
 }